<a href="https://colab.research.google.com/github/victorkimaru/titanicsurvival/blob/main/titanicsurvival.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Titanic Survival Prediction using Naive Bayes

Importing basic Libraries

In [ ]:
import pandas as pd
import numpy as np

Choose dataset file from local directory

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving TitanicSurvival.csv to TitanicSurvival.csv

Load Dataset

In [ ]:
dataset = pd.read_csv('TitanicSurvival.csv')

Summarize dataset

In [ ]:
print(dataset.head)
print(dataset.shape)

<bound method NDFrame.head of                                  name survived     sex      age passengerClass
0       Allen, Miss. Elisabeth Walton      yes  female  29.0000            1st
1      Allison, Master. Hudson Trevor      yes    male   0.9167            1st
2        Allison, Miss. Helen Loraine       no  female   2.0000            1st
3     Allison, Mr. Hudson Joshua Crei       no    male  30.0000            1st
4     Allison, Mrs. Hudson J C (Bessi       no  female  25.0000            1st
...                               ...      ...     ...      ...            ...
1304             Zabour, Miss. Hileni       no  female  14.5000            3rd
1305            Zabour, Miss. Thamine       no  female      NaN            3rd
1306        Zakarian, Mr. Mapriededer       no    male  26.5000            3rd
1307              Zakarian, Mr. Ortin       no    male  27.0000            3rd
1308               Zimmerman, Mr. Leo       no    male  29.0000            3rd

[1309 rows x 5 columns]>
(1309, 5)

Mapping Text Data to int

In [ ]:
income_set1 = set(dataset['sex'])
income_set2 = set(dataset['survived'])
income_set3 = set(dataset['passengerClass'])
dataset['sex'] = dataset['sex'].map({'female':0,'male':1}).astype(int)
dataset['survived'] = dataset['survived'].map({'yes':1, 'no':0}).astype(int)
dataset['passengerClass'] = dataset['passengerClass'].map({'1st':1, '2nd':2, '3rd':3}).astype(int)
print(dataset.head)

<bound method NDFrame.head of                                  name  survived  sex      age  passengerClass
0       Allen, Miss. Elisabeth Walton         1    0  29.0000               1
1      Allison, Master. Hudson Trevor         1    1   0.9167               1
2        Allison, Miss. Helen Loraine         0    0   2.0000               1
3     Allison, Mr. Hudson Joshua Crei         0    1  30.0000               1
4     Allison, Mrs. Hudson J C (Bessi         0    0  25.0000               1
...                               ...       ...  ...      ...             ...
1304             Zabour, Miss. Hileni         0    0  14.5000               3
1305            Zabour, Miss. Thamine         0    0      NaN               3
1306        Zakarian, Mr. Mapriededer         0    1  26.5000               3
1307              Zakarian, Mr. Ortin         0    1  27.0000               3
1308               Zimmerman, Mr. Leo         0    1  29.0000               3

[1309 rows x 5 columns]>

Segregating data into input and output

In [ ]:
X = dataset.iloc [:, 2:]
X

      sex      age  passengerClass
0       0  29.0000               1
1       1   0.9167               1
2       0   2.0000               1
3       1  30.0000               1
4       0  25.0000               1
...   ...      ...             ...
1304    0  14.5000               3
1305    0      NaN               3
1306    1  26.5000               3
1307    1  27.0000               3
1308    1  29.0000               3

[1309 rows x 3 columns]

In [ ]:
Y=dataset.survived
Y

0       1
1       1
2       0
3       0
4       0
       ..
1304    0
1305    0
1306    0
1307    0
1308    0
Name: survived, Length: 1309, dtype: int64

Removing Nan values

In [ ]:
X.columns[X.isna().any()]

Index(['age'], dtype='object')

In [ ]:
X.age = X.age.fillna(X.age.mean())
print(X.age)

0       29.000000
1        0.916700
2        2.000000
3       30.000000
4       25.000000
          ...
1304    14.500000
1305    29.881135
1306    26.500000
1307    27.000000
1308    29.000000
Name: age, Length: 1309, dtype: float64

In [ ]:
X.columns[X.isna().any()]

Index([], dtype='object')

Splitting Dataset into train and test

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=0)

Training

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train, y_train)

GaussianNB()

Prediction

In [ ]:
y_pred= model.predict(X_test)
print(np.column_stack((y_pred,y_test)))

In [ ]:
passengerClass = int(input("Enter Person's Passenger Class, 1st Class-1, 2nd Class-2, 3rd Class-3: "))
gender = int(input("Enter Person's Gender, 0-Female, 1-Male: "))
age = int(input("Enter Person's age: "))
person = [[passengerClass,gender,age]]
result=model.predict(person)

if result == 1:
  print("Person might have survived")
else:
  print("Person is less likely to have survived")

Enter Person's Passenger Class, 1st Class-1, 2nd Class-2, 3rd Class-3: 3
Enter Person's Gender, 0-Female, 1-Male: 1
Enter Person's age: 22
Person might have survived

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"

Accuracy of model

In [ ]:
from sklearn.metrics import accuracy_score
print("Accuracy = {0}%".format(accuracy_score(y_test, y_pred)*100))

Accuracy = 77.7439024390244%